<h2>Create a new drone</h2>
<form action="/drones" method="post">
<input type="text" name="name" placeholder="New drone name">
<br>
<input type="number" name="propellers" placeholder="New propellers">
<br>
<input type="number" name="maxSpeed" placeholder="New max speed">
<br>
<a href="/drones/new-form">
<button type="submit">Submit</button>
</a>
</form>